.ShoppingItem {
  display: flex;
  justify-content: space-between;
}

.buttons {
  text-align: right;
}
button {
  margin: 4px;
}

.singleShoppingItem {
  text-align: left;
}
.itemAmount {
  margin-left: 5px;
}

.amount {
  width: 40px;
  margin-left: 5px;
}
